<app-header></app-header>

<main>
  <body>
    <div class="header-acciones">
      <app-search (onSearch)="filterPokemon($event)"></app-search>
      <button 
        class="btn-filtro-fav" 
        [class.active]="showFavorites"
        (click)="toggleFavoriteFilter()">
        {{ showFavorites ? 'ver Todos' : '⭐ Ver Favoritos' }}
      </button>
    </div>

    <div class="fav-counter">

      <p>Favoritos marcados: <strong>{{ myFavorites().length }}</strong></p>
    </div>

    <div class="content-container">

      @if (selectedPoke) {

        <div class="vista-detalle">

          <button class="btn-volver" (click)="selectedPoke = null">⬅ Volver</button>

          <div class="tarjeta-pokemon detalle">

            <h3>{{ selectedPoke.name | uppercase }}</h3>
            <img [src]="selectedPoke.sprites.front_default" [alt]="selectedPoke.name">

            <div class="info-grid">

              <p><strong>Experiencia:</strong> {{ selectedPoke.base_experience }}</p>
              <p><strong>Altura:</strong> {{ selectedPoke.height / 10 }} m</p>
              <p><strong>Peso:</strong> {{ selectedPoke.weight / 10 }} kg</p>
              <p><strong>Nº Pokedex:</strong> #{{ selectedPoke.id }}</p>

            </div>
          </div>
        </div>
      } 
      @else {

        @if (loading) {

          <p class="feedback">Cargando Pokédex...</p>
        } 
        @else {

          <app-list 
            [pokemons]="filteredPokemon"
            [favs]="myFavorites()"
            (clickItem)="seeDetails($any($event))"
            (toggleFav)="toggleFav($any($event))">
          </app-list>
        }
      }
    </div>
  </body>
</main>